body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

body {
  background-image: url("background1.jpeg");
  background-size: cover;      
  background-repeat: no-repeat;  
  background-position: center;  
}
.card {
  background-image: url("bg-tengah.jpg");
   background-size: cover;      
  background-repeat: no-repeat;  
  background-position: center;  
  padding: 70px;
  border-radius: 15px;
  width: 700px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.opt-btn {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.correct {
  background: lightgreen;
}

.wrong {
  background: pink;
}

.feedback {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 600px){
  body {
    background-color: lightpink;
}
}